h1{
  font-family: arial;
  font-weight: bold;
}

a {
  color: #333;
}

header {
  border-bottom: 4px #333 solid;
}

#content{
  margin-top: 30px;
}

a, .link {
  cursor: pointer;
}

.navigation{
  padding-top:10px;
  background-color: #f58220;
  color: white;
  width:100%;
}
ul { padding: 0;}

.navigation ul {
  	list-style-type: none;
}
.navigation ul li {
  display: inline;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  /*padding: 17px 0;*/
  font-family: 'Economica',sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  /*margin: 0 15px;*/
}

.navigation ul li + li  {
  margin-left: 4em;
}

section {
  margin-bottom: 15px;
}

.project + .project {
  margin-top: 45px;
  border-top: 1px #ccc solid;
  padding-top: 45px;
}

.image-wrapper {
  padding: 10px;
  cursor:pointer;
}

.modal-window {
  margin: 15px;
  color: white;
}
.modal-content {
  background-color: #333;
}
.modal-description {
  margin-top: 15px;
}
