<div class="container">

  <section>
    <div class="row">
      <div class="col-xs-12">
        <p class="well" style="font-size:large">
          It is always my goal to leave my clients feeling positive about their
          event experience. On more than one occasion, the individuals that I
          have served have reached out to me with sentiments of gratitude. These
          are a few examples that I am happy to share.
        </p>
      </div>
    </div>
  </section>

  <section class="accolades">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/Conway-Turner.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/Conway-Turner.png" />
            <span>Dr. Conway-Turner</span>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/Cuomo2011.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/Cuomo2011.png" />
            <span>Gov. Andrew Cuomo</span>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/Podolefsky.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/Podolefsky.png" />
            <span>Dr. Aaron Podolefsky</span>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/Coltrane-resized.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/Coltrane-resized.png" />
            <span>Dawn Martin</span>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/Clinton-Jones.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/Clinton-Jones.png" />
            <span>Dr. Karen Clinton-Jones</span>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/Golove-resized.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/Golove-resized.png" />
            <span>Dr. Jonathan Golove</span>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/Kardonsky.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/Kardonsky.png" />
            <span>Dr. Stanley Kardonsky</span>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center accolade">
        <a target="_letter" href="/letters/StudentSupport.pdf">
          <div class="image-wrapper">
            <img class="img-responsive max-height center-block" src="/letters/StudentSupport.png" />
            <span>Florence Johnson</span>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>