<div class="container">

  <section>
    <div class="row">
      <div class="col-xs-12">
        <p class="well" style="font-size:large">
          Work at the Burchfield Penney Art Center is both intellectually stimulating and technically
          challenging. The following images are a small sample of the types of events and art
          installations I have managed throughout the years. Each location demands a different thought
          process to achieve success.
        </p>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Peter &amp; Elizabeth C. Tower Auditorium</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/bpac/aud/cuomo.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/cuomo.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/bpac/aud/Aud2.jpg')">
              <img class="img-responsive center-block" src="images/bpac/aud/Aud2.jpg" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/bpac/aud/2048.jpg')">
              <img class="img-responsive center-block" src="images/bpac/aud/2048.jpg" />
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/aud/Aud3.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/Aud3.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/bpac/aud/Aud4.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/Aud4.jpg" />
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/aud/Aud5.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/Aud5.jpg" />
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/aud/Aud6.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/Aud6.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/aud/Aud7.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/Aud7.jpg" />
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/aud/Aud8.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/Aud8.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/aud/desire_4.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/desire_4.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4" >
        <div class="image-wrapper" style="border: solid #999 1px" ng-click="open('/bpac/aud/Aud1.jpg')">
          <img class="img-responsive center-block" src="images/bpac/aud/Aud1.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Reception Area</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/bpac/reception/RA1.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/reception/RA1.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/bpac/reception/RA2.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/reception/RA2.jpg" />
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/bpac/reception/RA5.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/reception/RA5.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/reception/RA6.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/reception/RA6.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/reception/RA3.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/reception/RA3.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/bpac/reception/RA4.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/reception/RA4.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Front Yard</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/bpac/yard/FY1.JPG')">
          <img class="img-responsive center-block" src="/images/bpac/yard/FY1.JPG" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/yard/FY2.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/yard/FY2.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/yard/FY3.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/yard/FY3.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/bpac/yard/FY4.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/yard/FY4.jpg" />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/bpac/yard/FY5.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/yard/FY5.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Contemporary Project Space</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/bpac/project/project1.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/project/project1.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/bpac/project/project2.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/project/project2.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/bpac/project/project3.jpg')">
          <img class="img-responsive center-block" src="/images/bpac/project/project3.jpg" />
        </div>
      </div>
    </div>
  </section>

</div>