<div class="container">

<section>
  <div class="row">
    <div class="col-xs-12 text-center">
      <p class="well">
        My intro text for this page to be written
      </p>
    </div>
  </div>
</section>

  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Peter &amp; Elizabeth C. Tower Auditorium</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Reception Area</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Contemporary Project Space</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper">
          <img class="img-responsive" src="http://lorempixel.com/800/400" />
        </div>
      </div>
    </div>
  </section>

</div>
