<div class="container">

<section>
  <div class="row">
    <div class="col-xs-12 text-center">
      <p class="well">
        My intro text for this page to be written
      </p>
    </div>
  </div>
</section>

  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Peter &amp; Elizabeth C. Tower Auditorium</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive" src="http://lorempixel.com/600/300" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive" src="http://lorempixel.com/600/200" />
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive" src="http://lorempixel.com/600/400" />
        </div>
      </div>
    </div>
  </section>



</div>


<script type="text/ng-template" id="tower1">
	<div class="container-fluid modal-window">
    <div class="row">
      <div class="col-xs-12 text-center">
        <img class="img-responsive" src="http://lorempixel.com/1000/500" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center modal-description">
        Some text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this image
      </div>
    </div>
  </div>
</script>
