<div class="container">

  <section>
    <div class="row">
      <div class="col-xs-12">
        <p class="well" style="font-size:large">
          Managing union members, leading crews using heavy equipment, and producing
          shows in spaces that were not intended for productions are a few of the many
          long lasting experiences I learned from during my time prior my employment at
          Buffalo State College. The following images are few examples of that work.
        </p>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Studio Arena Theatre</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 ">
        <div class="image-wrapper" ng-click="open('/previous/studio/s1.jpg')">
          <img class="img-responsive center-block" src="/images/previous/studio/s1.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/previous/studio/s2.jpg')">
              <img class="img-responsive center-block" src="/images/previous/studio/s2.jpg" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/previous/studio/s3.jpg')">
              <img class="img-responsive center-block" src="/images/previous/studio/s3.jpg" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/previous/studio/s4.jpg')">
          <img class="img-responsive center-block" src="/images/previous/studio/s4.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Shakespeare</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/previous/shakespeare/s4.jpg')">
          <img class="img-responsive center-block" src="/images/previous/shakespeare/s4.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/previous/shakespeare/s1.jpg')">
          <img class="img-responsive center-block" src="/images/previous/shakespeare/s1.jpg" />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/previous/shakespeare/s3.jpg')">
          <img class="img-responsive center-block" src="/images/previous/shakespeare/s3.jpg" />
        </div>
      </div>

    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Road Less Traveled</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/previous/rltp/127.JPG')">
          <img class="img-responsive center-block" src="/images/previous/rltp/127.JPG" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/previous/rltp/128.JPG')">
          <img class="img-responsive center-block" src="/images/previous/rltp/128.JPG" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/previous/rltp/126.JPG')">
          <img class="img-responsive center-block" src="/images/previous/rltp/126.JPG" />
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/previous/rltp/139.JPG')">
          <img class="img-responsive center-block" src="/images/previous/rltp/139.JPG" />
        </div>
      </div>
    </div>
  </section>



</div>


<script type="text/ng-template" id="tower1">
	<div class="container-fluid modal-window">
    <div class="row">
      <div class="col-xs-12 text-center">
        <img class="img-responsive" src="http://lorempixel.com/1000/500" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center modal-description">
        Some text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this imageSome text about this image
      </div>
    </div>
  </div>
</script>
