<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="well" style="font-size:large">
        <p class="text-center">
          Hello and welcome to my online portfolio
        </p>
        <p>
          My name is John Malinowski and I have been in the event and entertainment
          industry for a decade. This website is intended to highlight some examples of my
          scope of work. I would be happy to discuss in detail any questions that you may
          have after looking through the site.
        </p>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <div style="height: 900px">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">

        </uib-slide>
      </uib-carousel>
    </div>
</div>
</div>
</div>
