<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="well" style="font-size:large">
        Managing events is all about detailed preparation, time management, and problem solving. Regardless of whether
        the event is an individual speaking at a podium for thirty minutes or a multi-day festival with dozens of
        parties involved dispersed over several locations, I have the necessary talents to produce these events in a
        professional and practiced manner. My end goal is always to help ensure that the presenter(s), venue, and
        College emerge successful.
      </p>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <div style="height: 900px">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">

        </uib-slide>
      </uib-carousel>
    </div>
</div>
</div>
</div>
