<div class="container">

  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="well" style="font-size:large">
          The caliber of talent that comes to The Performing Art Center at Rockwell Hall
          requires precise professional execution of their events. Spike Lee, The Goo
          Goo Dolls, and Alec Baldwin are just a few of the well known celebrities and
          musicians to perform at Buffalo State College. I wear many hats at the PAC as my
          roll changes for each event. This has prepared me well to handle all aspects
          of any event regardless of the scope.
        </p>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Great Performers Series</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/rockwell/performers/p1.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/performers/p1.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/performers/p2.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/performers/p2.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/performers/p3.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/performers/p3.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/performers/p4.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/performers/p4.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/performers/p5.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/performers/p5.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Campus Events</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/rockwell/events/20110930_spike_lee_076.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/events/20110930_spike_lee_076.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/rockwell/events/e2.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/events/e2.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/rockwell/events/e3.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/events/e3.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/rockwell/events/e4.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/events/e4.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('/rockwell/events/e5.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/events/e5.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/events/e6.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/events/E6.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/events/e7.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/events/e7.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Choirs &amp; Concerts</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/rockwell/music/m2.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/music/m2.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/music/m1.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/music/m1.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/rockwell/music/m3.jpg')">
          <img class="img-responsive center-block" src="/images/rockwell/music/m3.jpg" />
        </div>
      </div>
    </div>
  </section>

</div>
