<div class="container">

  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="well">
          My intro text for this page to be written
        </p>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Great Performers</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/300" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/200" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/400" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Lectures</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/300" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/200" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/400" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Campus (ie Student)</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/300" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/200" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/400" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Music</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/300" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/200" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="image-wrapper" ng-click="open('tower1')">
          <img class="img-responsive center-block" src="http://lorempixel.com/600/400" />
        </div>
      </div>
    </div>
  </section>

</div>
