<div class="container">

  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="well" style="font-size:large">
          There are events that one person can handle from start to finish and
          then there are productions that require huge collaborative involvement.
          Working with the Theatre Department necessitates the ability to work
          synergistically with a large group of talented individuals.
        </p>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>The Warren Enters Theatre</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/theatre/upton/u3.jpg')">
          <img class="img-responsive center-block" src="/images/theatre/upton/u3.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/theatre/upton/u1.jpg')">
              <img class="img-responsive center-block" src="/images/theatre/upton/u1.jpg" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/theatre/upton/u2.jpg')">
              <img class="img-responsive center-block" src="/images/theatre/upton/u2.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/theatre/upton/u7.jpg')">
          <img class="img-responsive center-block" src="/images/theatre/upton/u7.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/theatre/upton/u5.jpg')">
              <img class="img-responsive center-block" src="/images/theatre/upton/u5.jpg" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="image-wrapper" ng-click="open('/theatre/upton/u4.jpg')">
              <img class="img-responsive center-block" src="/images/theatre/upton/u4.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/theatre/upton/u6.jpg')">
          <img class="img-responsive center-block" src="/images/theatre/upton/u6.jpg" />
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>The Flexible Theatre</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="image-wrapper" ng-click="open('/theatre/flex/f1.jpg')">
          <img class="img-responsive center-block" src="/images/theatre/flex/f1.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
        <div class="image-wrapper" ng-click="open('/theatre/flex/f5.jpg')">
          <img class="img-responsive center-block" src="/images/theatre/flex/f5.jpg" />
        </div>
      </div>
      <div class="col-xs-12 ">
          <div class="image-wrapper" ng-click="open('/theatre/flex/f3.jpg')">
            <img class="img-responsive center-block" src="/images/theatre/flex/f3.jpg" />
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/theatre/flex/f2.jpg')">
          <img class="img-responsive center-block" src="/images/theatre/flex/f2.jpg" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image-wrapper" ng-click="open('/theatre/flex/f4.jpg')">
          <img class="img-responsive center-block" src="/images/theatre/flex/f4.jpg" />
        </div>
      </div>
    </div>
  </section>

  </div>
</section>